

// Theme
$primary: #194a8d;
$primary1: #75c0e0;
$primary1-light: #c7eeff;
$primary-light: #cfe0ddff;
$primary-light-200: #b4c4c1;
$success: #39a275;
$accent: #ffc64a;
$violer: #8F3985;
$red: #df1c44;
$white: #ffffff;
$gray: #575757;
$dark: #2b2b2b;

$border-edit: rgba(63, 61, 86, 0.24);
$border-hover: rgba(89, 193, 167, 0.28);
$border-error: rgba(206, 82, 87, 0.32);
$bg-text-edit: rgba(90, 87, 120, 0.09);
$bg-text-hover: rgba(89, 193, 167, 0.15);
$bg-text-error: rgba(206, 82, 87, 0.19);
